<!DOCTYPE html>
<html>
    <head>
        <title>Template!</title>
        <link rel="stylesheet" href="/base.css">
        <link rel="stylesheet" href="template.css">
    </head>
    <body>
        <img src="/assets/paw-rainbow.gif" style="margin-top: 25px; margin-left: -90px; position: absolute">
        <img src="/assets/header.png" height="70px" style="margin-top: 25px; position: relative">
        <img src="/assets/earth.gif" height="82px" style="margin-top: 16px; margin-left: 18px; position: absolute">
        <br>
        <span class="text">Welcome to my website!</span>
    </body>
</html>